ul li{
  display: inline-block;
  border: 4px dashed;
  text-decoration: underline;
  text-align: center;
  Width: 150px;
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  margin-top: 0;
  margin-left: 10px;
  position: relative;
  font-size: 30px
}
nav a:link{
    background-color: white;}
nav a:hover, nav a:focus{
    background-color:blueviolet;}
nav a:active{
    background-color:aquamarine;}
nav ul>li ul {
    position: absolute;
    margin-top: 0;
    display: none;
}
p::first-letter {
    font-size: 200%;
    color: aquamarine;
  }
  p{
    text-indent: -40px;
    padding-left: 40px;
  }

#dropdown-learn{
    display: none;
  }
#menu-learn:hover #dropdown-learn{
    display: block;
    float: left;
  }

