ul li{
    display: inline;
    border: dotted;
    text-decoration: underline;
    text-align: center;
    Width: 150px;
    list-style-type: none;
    padding: 35px 35px 35px 35px;
    margin-top: 0;
    margin-left: 20px;
}