h1 {color: #00EAE5; text-align: center;} 

@media screen and (min-width: 320px)
{ 

/*entire page style*/
* {margin: 0; padding:0;}
body {margin:5% auto; width: 100%; border: 0px solid black; font-size: xx-large; font-family: Arial; background-color: #EB514C;}

nav {border-bottom: 1px solid black; font-size: xx-large; font-family: Arial}
header {border-bottom: 1px solid black;background-color: #E38D71;}
main{border-bottom: 0px solid black; background-color: #E38D71;}
footer { border-top: 1px solid black; clear: both; font-size: small; font-family: Arial; background-image: url(./images/backgrounds.jpg); background-repeat:no-repeat; background-size:cover;}

h1 {padding: 10px; font-size: 44pt; font-family: Georgia; background-color: #E38D71;}

table {
   table-layout:fixed;
   width: 85%;
   border: 1px solid black;
 }
 
 td {
   border: 1px solid black;
   overflow: hidden;
   white-space: wrap;
 }
}

 @media screen and (min-width: 1024px)
{

/*entire page style*/
* {margin: 0; padding:0;}
body {margin:5% auto; width: 90%; border: 1px solid black; font-size: x-large; font-family: Arial; background-color: #EB514C;}

nav {border-bottom:1px solid black; font-size: large; font-family: Arial}
header {border-bottom: 1px solid black; background-color: #E38D71;}
main{border-bottom: 1px solid black; background-color: #E38D71;}
footer { border-top: 1px solid black; clear: both; font-size: medium; font-family: Arial; background-image: url(./images/backgrounds.jpg); background-repeat:no-repeat; background-size:cover;}
h1 {padding: 10px; font-size: 27pt; font-family: Georgia; background-color: #E38D71;}

table {
   table-layout:fixed;
   width: 90%;
   border: 1px solid black;
 }
 
 td {
   border: 1px solid black;
   overflow: hidden;
   white-space: normal;
 }
}


@media print {
    *{margin: 1%;}
 h1 {color: black; font-family: Georgia;}
 p {color: black; font-family: serif;}
 ul {color: black; font-family: serif;}
 blockquote {color: black; font-family: serif;}
 footer {color: black; font-family: serif;}
 nav {display: none;}
}

.ico
{
width:15px;height:15px
}

.icobig
{
position:absolute;
width:0;
-webkit-transition:width 0.3px linear 0s;
transition:width 0.3s linear 0s; z-index:10;
}

.ico:hover + .icobig
{
width:50px;
}

table, th, td {
    border: 2px solid black;
 }
 th{
    padding: 1%
 }
 
td{
    text-indent:-50px;
    padding-left: 50px;
 }
td :first-letter{
    text-indent:-30px;
    padding-left:30px;
 }
 tr:nth-child(odd){
    background-color: rgb(101, 186, 186);
 }
 tr:nth-child(even){
    background-color: rgb(194, 189, 135);
 }
 
    